*,
html {
  padding: 0;
  margin: 0;

}

.allContainer {

  background-color: rgba(1, 15, 43, 0.895);
  font-family: 'Roboto', sans-serif;


}

.Abhirath {
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 54, 54, 0.66);
  ;
  margin-top: -5px;
  transition: background 0.3s, transform 0.3s;

}


.firstContainer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  color: white;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 30px;

}

.animate {
  transition: background 0.3s, transform 0.3s;
  color: white;
  text-decoration: none;
}

.animate:hover {
  transform: scale(1.05);
  color: rgba(255, 54, 54, 0.66);
  cursor: pointer;
}

.Abhirath:hover {
  transform: scale(1.05);
  cursor: pointer;
}



.container {
  border: 1px solid black;
  background-color: rgba(25, 40, 70, 0.895);
}

.welcome {
  font-size: 35px;
  font-weight: bold;
  color: rgba(255, 54, 54, 0.66);
}


.secondContainer {
  margin-top: 150px;
  opacity: 0;
  margin-bottom: 500px;
}

.Abhi {

  width: 270px;
  border: 20px solid rgba(1, 15, 43, 0.895);
  border-radius: 10px;
  margin-top: -150px;
  opacity: 0;
}


/* 
.test{
  transition: background 0.3s, transform 0.3s;
} */

/* .test:hover{
  transform: scale(1.05);
}
 */


.Gambarr {
  transition: background 0.3s, transform 0.3s;


}

.Gambarr:hover {
  transform: scale(1.05);
}

.CV {
  color: White;
  background-color: rgba(25, 40, 70, 0.895);
  padding: 10px;
  font-size: 30px;
  margin-top: 10px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s;
}

.CV:hover {
  transform: scale(1.05);
  background-color: rgba(255, 54, 54, 0.66);
}



.Myportofolio {
  font-size: 35px;
  font-weight: bold;
  color: rgba(255, 54, 54, 0.66);
  opacity: 0;
}


.Laptop {
  width: 260px;
  border: 20px solid rgba(255, 54, 54, 0);
  border-radius: 5px;
}

.Laptopdesain {
  width: 250px;
  border: 20px solid rgba(255, 54, 54, 0);
  border-radius: 5px;
}



.divlaptop {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.divtext {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -10px;
  margin-left: 20px;
  transition: background 0.3s, transform 0.3s;
}

.divtext:hover {
  transform: scale(1.03);
}



.divlaptop1 {
  background-color: rgba(255, 54, 54, 0.66);
  border-radius: 20px;
  padding: 5px;
  margin-right: 130px;
  margin-left: -122px;
  opacity: 0;
  border: 3px solid black;
  cursor: pointer;
}

.animasiporto {
  transition: background 0.3s, transform 0.3s;
}

.animasiporto:hover {
  transform: scale(1.01);
}

.divlaptop2 {
  background-color: rgba(255, 54, 54, 0.66);
  border-radius: 20px;
  padding: 5px;
  margin-right: 130px;
  opacity: 0;
  border: 3px solid black;
}

.divlaptop3 {
  background-color: rgba(255, 54, 54, 0.66);
  border-radius: 20px;
  padding: 5px;
  margin-right: 140px;
  opacity: 0;
  border: 3px solid black;
}

.animasilap {
  transition: background 0.3s, transform 0.3s;
}

.animasilap:hover {
  transform: scale(1.05);
}

.divworkhistory {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  /* margin-left: 50px; */
  font-size: 50px;
  gap: 10px;
  opacity: 0;

}

.animasihistory {
  transition: background 0.3s, transform 0.3s;
}

.animasihistory:hover {
  transform: scale(1.05);
}

.alldivlake {
  margin-top: 200px;
  transition: background 0.3s, transform 0.3s;
}

.alldivlake:hover {
  transform: scale(1.05);
}

.divlake1 {
  background-color: rgba(255, 54, 54, 0.66);
  padding: 50px;
  border-radius: 10px;
  border: 5px solid black;
  opacity: 0;
  margin-top: 100px;


}

.divlake2 {
  background-color: rgba(255, 54, 54, 0.66);
  padding: 50px;
  border-radius: 10px;
  border: 5px solid black;
  opacity: 0;
  margin-top: 100px;

}

.title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}

.titletext {
  color: white;
}

.animasi {
  transition: background 0.3s, transform 0.3s;
}

.animasi:hover {
  transform: scale(1.06);
}














.divjudul {

  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  color: rgba(255, 54, 54, 0.66);
  opacity: 0;
  margin-right: 200px;
  flex-direction: column;
  gap: 10px;

}



.animasicontact{
  transition: background 0.3s, transform 0.3s;
}


.animasicontact:hover{
  transform: scale(1.06);
}





.animasiphone{
  transition: background 0.3s, transform 0.3s;
}

.animasiphone:hover{
  transform: scale(1.06);
}



.isicontact {

  margin-top: 70px;
  font-size: 25px;
  color: white;
  opacity: 0;
  margin-top: 200px;
  justify-content: space-evenly;
  margin-bottom: 230px;

}






/* 
.Webdaveloper {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
  background-color: black;
  border-radius: 10px;
  padding: 10px;
} */



.warnaback {
  /* background-color: rgba(255, 54, 54, 0.66);
  padding: 10px; */
  /* border-radius: 10px;
  border: 3px solid black; */
  /* transition: background 0.3s, transform 0.3s; */
  display: flex;
  justify-content: space-around
}

.warnaback:hover {
  /* transform: scale(1.06); */
}


.inputtext {
  background-color: rgb(30, 30, 30);
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.Send {

  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: white;
  width: 530px;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
}


.divsendmessage {
  border: 3px solid black;
  background-color: rgba(249, 76, 76, 0.621);
  padding: 40px;
  padding-left: 320px;
  padding-right: 320px;
  border-radius: 10px;
  opacity: 0;
}


@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}