

*,
html {
  padding: 0;
  margin: 0;

}

.allContainer{

  background-color:rgba(1, 15, 43, 0.895);
  font-family: 'Roboto', sans-serif;


}

.Abhirath{
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 54, 54, 0.66);;
  margin-top: -5px;
  transition: background 0.3s, transform 0.3s;

}


.firstContainer{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  color:white;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 30px;

}

.animate{
  transition: background 0.3s, transform 0.3s;
  color: white;
  text-decoration: none;
}

.animate:hover{
  transform: scale(1.05);
  color: rgba(255, 54, 54, 0.66);
  cursor: pointer;
}

.Abhirath:hover{
  transform: scale(1.05);
  cursor: pointer;
}



.container{
  border: 1px solid black;
  background-color:rgba(25, 40, 70, 0.895) ;
}

.welcome{
  font-size: 35px;
  font-weight: bold;
  color: rgba(255, 54, 54, 0.66);
}


.secondContainer{
  margin-top: 150px;
  opacity: 0;
}

.Abhi{
  
  width: 270px;
  border: 20px solid rgba(1, 15, 43, 0.895);
  border-radius: 10px;
  margin-top: -150px;
  opacity: 0;
}


.Gambarr{
  transition: background 0.3s, transform 0.3s;
  

}

.Gambarr:hover{
  transform: scale(1.05);
}

.CV{
  color: White;
  background-color: rgba(25, 40, 70, 0.895);
  padding: 10px;
  font-size: 30px;
  margin-top: 10px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s;
}

.CV:hover{
  transform: scale(1.05);
  background-color:  rgba(255, 54, 54, 0.66);
}


.animasi{
  transition: background 0.3s, transform 0.3s;
}

.animasi:hover{
  transform: scale(1.06);
}


@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}